name: topwr
description: "ToPWR mobile guide over WUST university"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.2.12+99

environment:
  sdk: 3.10.8
  flutter: 3.38.9

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  #State managements
  flutter_riverpod: ^3.1.0 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  riverpod: ^3.1.0 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  riverpod_annotation: ^4.0.0 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  hooks_riverpod: ^3.1.0 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible

  #Storage
  shared_preferences: ^2.5.4
  cached_network_image: ^3.4.1
  flutter_cache_manager: ^3.4.1
  drift: ^2.31.0
  drift_flutter: ^0.2.8
  dio_cache_interceptor_db_store: ^6.0.0

  #Network
  url_launcher: ^6.3.2
  html: ^0.15.6
  dio: ^5.9.1

  #Widgets
  cupertino_icons: ^1.0.8
  flutter_native_splash: ^2.4.7
  flutter_svg: ^2.2.3
  flutter_widget_from_html_core:
    git:
      url: https://github.com/simplyNoOne/flutter_widget_from_html.git
      ref: accessibility
      path: packages/core
  anim_search_bar:
    git:
      url: https://github.com/simon-the-shark/anim_search_bar.git
      ref: c56e410
  auto_size_text:
    git:
      url: https://github.com/ChrisElliotUK/auto_size_text.git
      ref: patch-1
  lottie: ^3.3.2
  fl_chart: 1.1.1
  animated_list_plus: ^0.5.2
  dotted_border: ^3.1.0
  fluttertoast: ^9.0.0
  carousel_slider_plus: ^7.1.1
  scrollable_positioned_list: ^0.3.8
  scrolls_to_top: ^2.1.1
  sliver_tools: ^0.2.12

  #Data
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  collection: ^1.19.1
  fast_immutable_collections: ^11.1.0

  #Navigation
  auto_route: ^11.1.0
  app_links: ^7.0.0

  #Maps
  flutter_map: ^8.2.2
  flutter_map_cancellable_tile_provider: ^3.1.1
  flutter_map_location_marker: ^10.2.0

  flutter_map_compass: ^1.1.1
  flutter_map_cache: ^1.5.2
  flutter_map_animations: ^0.9.0
  flutter_compass: ^0.8.1

  #Firebase
  firebase_core: ^4.4.0
  firebase_performance: ^0.11.1
  firebase_messaging: ^16.1.1

  #Utility
  intl: ^0.20.2
  latlong2: ^0.9.1
  permission_handler: ^12.0.1
  package_info_plus: ^9.0.0
  envied: ^1.3.2
  path_provider: ^2.1.5
  path: ^1.9.1
  device_info_plus: ^12.3.0
  android_id: ^0.5.1
  crypto: ^3.0.7

  #Audio
  #TODO: bump when just_audio fixes issue: https://github.com/ryanheise/just_audio/issues/1558
  just_audio: ^0.9.36
  audio_service: ^0.18.18
  audio_session: ^0.1.21

  #Other
  in_app_update: ^4.2.5
  upgrader: ^12.5.0
  in_app_review: ^2.0.11
  protontime: ^2.0.0
  logger: ^2.6.2
  separate: ^1.0.3
  wiredash: ^2.6.0
  flutter_hooks: ^0.21.3
  sentry_flutter: ^9.12.0

  #Solvro packages
  solvro_translator_with_drift_cache_flutter: ^0.9.4
  solvro_translator_core: ^0.8.0
  clarity_flutter: ^1.7.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  #Storage
  drift_dev: ^2.31.0

  #Lints
  solvro_config: ^1.3.0

  #CodeGen
  build_runner: ^2.10.4 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  freezed: ^3.2.3
  json_serializable: ^6.11.2 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  riverpod_generator: ^4.0.0 # todo(simon-the-shark): bump when analyzer bump to 9 will be possible
  envied_generator: ^1.3.2
  flutter_gen_runner: ^5.12.0
  auto_route_generator: ^10.4.0
  solvro_translator_generator: ^0.8.0

  #Other
  flutter_launcher_icons: ^0.14.4
  test: ^1.26.3

dependency_overrides:
  riverpod: 3.1.0 # todo(simon-the-shark): remove this when analyzer bump to 9 will be possible

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/png/splash_screen/splash_logo.png
    - assets/svg/logo_app_bar.svg
    - assets/png/map_markers/map_marker.png
    - assets/png/map_markers/active_map_marker.png
    - assets/png/map_markers/active_parking_map_marker.png
    - assets/png/map_markers/parking_map_marker.png
    - assets/png/map_markers/active_library_marker.png
    - assets/png/map_markers/library_marker.png
    - assets/png/map_markers/active_polinka_marker.png
    - assets/png/map_markers/polinka_marker.png
    - assets/png/map_markers/active_aed_marker.png
    - assets/png/map_markers/aed_marker.png
    - assets/png/map_markers/active_shower_marker.png
    - assets/png/map_markers/shower_marker.png
    - assets/png/map_markers/active_pink_box_marker.png
    - assets/png/map_markers/pink_box_marker.png
    - assets/png/radio_luz/radio_luz_logo.png
    - assets/svg/search_box/vectorsearch.svg
    - assets/svg/contact_icons/compass.svg
    - assets/svg/contact_icons/fb.svg
    - assets/svg/contact_icons/github.svg
    - assets/svg/contact_icons/ig.svg
    - assets/svg/contact_icons/linkedin.svg
    - assets/svg/contact_icons/mail.svg
    - assets/svg/contact_icons/phone.svg
    - assets/svg/contact_icons/web.svg
    - assets/svg/contact_icons/yt.svg
    - assets/svg/contact_icons/x.svg
    - assets/svg/contact_icons/tiktok.svg
    - assets/svg/contact_icons/discord.svg
    - assets/svg/digital_guide/storey.svg
    - assets/svg/digital_guide/assistance_dog.svg
    - assets/svg/digital_guide/braille.svg
    - assets/svg/digital_guide/emergency_chairs.svg
    - assets/svg/digital_guide/induction_loop.svg
    - assets/svg/digital_guide/large_font.svg
    - assets/svg/digital_guide/micronavigation.svg
    - assets/svg/digital_guide/orientation_paths.svg
    - assets/svg/digital_guide/sign_language.svg
    - assets/svg/digital_guide/accessibility_alerts/blind_profile.svg
    - assets/svg/digital_guide/accessibility_alerts/cognitive_difficulties.svg
    - assets/svg/digital_guide/accessibility_alerts/movement_dysfunction.svg
    - assets/svg/digital_guide/accessibility_alerts/visually_impaired.svg
    - assets/svg/digital_guide/accessibility_alerts/hearing_dysfunction.svg
    - assets/svg/digital_guide/accessibility_alerts/sensory_sensitivity.svg
    - assets/animations/error.json
    - assets/animations/search.json
    - assets/animations/offline.json
    - assets/animations/bug.json
    - assets/animations/sks_closed.json
    - assets/certs/przewodnik.pwr.edu.pl.pem
    - assets/svg/map_placeholders/pink_box_icon.svg
    - assets/svg/map_placeholders/aed_icon.svg
    - assets/svg/map_placeholders/library_icon.svg
    - assets/svg/map_placeholders/shower_icon.svg
    - assets/svg/map_placeholders/building_icon.svg
    - assets/svg/radio_luz/play_icon.svg
    - assets/svg/radio_luz/pause_icon.svg
    - assets/svg/radio_luz/speaker_icon.svg
    - assets/svg/radio_luz/radio_luz_logo.svg
    - assets/svg/streaming/spotify.svg
    - assets/svg/streaming/apple_music.svg
    - assets/svg/streaming/youtube_music.svg
    - assets/svg/streaming/deezer.svg
    - assets/svg/streaming/tidal.svg
    - assets/svg/branches_logos/logo-pwr.svg
    - assets/svg/branches_logos/logo-jelenia.svg
    - assets/svg/branches_logos/logo-walbrzych.svg
    - assets/svg/branches_logos/logo-legnica.svg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  fonts:
    - family: BottomNavBarIcons
      fonts:
        - asset: fonts/BottomNavBarIcons.ttf
    - family: IParkingIcons
      fonts:
        - asset: fonts/IParkingIcons.ttf
    - family: StrategicClubBadges
      fonts:
        - asset: fonts/StrategicClubBadges.ttf
    - family: Rubik
      fonts:
        - asset: fonts/rubik/Rubik-Light.ttf
          weight: 300
        - asset: fonts/rubik/Rubik-LightItalic.ttf
          weight: 300
          style: italic
        - asset: fonts/rubik/Rubik-Regular.ttf
          weight: 400
        - asset: fonts/rubik/Rubik-Italic.ttf
          weight: 400
          style: italic
        - asset: fonts/rubik/Rubik-Medium.ttf
          weight: 500
        - asset: fonts/rubik/Rubik-MediumItalic.ttf
          weight: 500
          style: italic
        - asset: fonts/rubik/Rubik-SemiBold.ttf
          weight: 600
        - asset: fonts/rubik/Rubik-SemiBoldItalic.ttf
          weight: 600
          style: italic
        - asset: fonts/rubik/Rubik-Bold.ttf
          weight: 700
        - asset: fonts/rubik/Rubik-BoldItalic.ttf
          weight: 700
          style: italic
        - asset: fonts/rubik/Rubik-ExtraBold.ttf
          weight: 800
        - asset: fonts/rubik/Rubik-ExtraBoldItalic.ttf
          weight: 800
          style: italic
        - asset: fonts/rubik/Rubik-Black.ttf
          weight: 900
        - asset: fonts/rubik/Rubik-BlackItalic.ttf
          weight: 900
          style: italic

flutter_native_splash:
  background_image: assets/splash_screen/native_splash_bg.png
  image: assets/splash_screen/splash_logo.png

  android_12:
    color: "#EE6644"
    image: assets/splash_screen/splash_logo.png

flutter_launcher_icons:
  android: false # manually set in Android Studio
  ios: true
  remove_alpha_ios: true
  image_path: "assets/png/app_icon.png"
  web:
    generate: true
    image_path: "assets/png/app_icon.png"
    background_color: "#EE6644"
    theme_color: "#EE6644"
  windows:
    generate: true
    image_path: "assets/png/app_icon.png"
  macos:
    generate: true
    image_path: "assets/png/app_icon.png"
lint_staged:
  "lib/**.dart": dart format && dart fix --apply
