name: PR Title Check
on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml
          
      - run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Validate Title of PR
        run: echo "${{ github.event.pull_request.title }}" | dart run commitlint_cli
  